
////////////////////
// PROJECT COLORS //
////////////////////

$gl-do-override-color-project: true;
$gl-nav-toggle-bg-color: null !default;
$gl-nav-toggle-text-color: null !default;
@mixin gl-override-color-project {
	// main navigation
	$gl-nav-toggle-bg-color: $gl-group-main-dark20 !default;
	$gl-nav-toggle-text-color: $gl-group-neutral-light15 !default;
}

