// callout
.gl-callout {
	@extend %gl-base-text;
	margin: gl-to-em($gl-double-space-size, $gl-discreet-font-size) 0;
	padding: gl-to-em($gl-double-space-size, $gl-discreet-font-size);
	border-left: $gl-half-space-size solid $gl-base-callout-border-color;
	background-color: $gl-base-callout-bg-color;
	font-size: gl-to-em($gl-discreet-font-size, $gl-base-font-size);
	line-height: 1.5em;

	code.gl {
		background: #fff;
		font-style: normal;
	}
	h3, h4, h5 {
		font-style: normal;
		font-size: gl-to-em($gl-lead-font-size, $gl-discreet-font-size);
		font-weight: $gl-medium-font-weight;
		margin: $gl-base-space-size 0;
		&:first-child {
			margin-top: 0;
		}
	}
	p {
		margin: gl-to-em($gl-half-space-size, $gl-discreet-font-size) 0 0;
		&:first-child {
			margin-top: 0;
		}
	}
}

.gl-callout-important {
	@extend .gl-callout;
	background: $gl-callout-important-bg-color;
	border-color: $gl-callout-important-border-color;
}
.gl-callout-warning {
	@extend .gl-callout;
	background: $gl-callout-warning-bg-color;
	border-color: $gl-callout-warning-border-color;
}
.gl-callout-danger {
	@extend .gl-callout;
	background: $gl-callout-danger-bg-color;
	border-color: $gl-callout-danger-border-color;
}