.gl-char-table {
	margin: $gl-separator-space-size 0 ($gl-separator-space-size - $gl-base-space-size)  1px;
	list-style-type: none;
	padding: 1px 0 0;
	display: table;
	width: 100%;
	position: relative;
	&:before {
		@extend %gl-base-monospaced-text;
		font-size: gl-to-em($gl-chartable-description-font-size, $gl-base-font-size);
		display: block;
		margin-bottom: $gl-half-space-size;
	}
	li {
		float: left;
		position: relative;
		font-size: gl-to-em($gl-chartable-font-size, $gl-base-font-size);
		line-height: 2em;
		height: 2.0em;
		overflow: hidden;
		text-align:center;
		border: 1px solid $gl-chartable-border-color;
		background: $gl-chartable-bg-color;
		margin: -1px -1px 0;
		width: 10%;
		padding-bottom: 1.5em;

		&:after {
			@extend %gl-base-monospaced-text;
			text-align:center;
			position: absolute;
			font-weight: normal;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 0.75em;
			height: 2em;
			line-height: 2em;
			overflow: hidden;
			background: $gl-chartable-glyph-bg-color;
			color: $gl-chartable-glyph-text-color;
			content: attr(title);
			.lt-ie9 & {
				font-size: 20px;
			}
		}
	}
}