// code
code.gl {
	@extend %gl-base-monospaced-text;
	padding: $gl-minor-space-size $gl-half-space-size;
	font-size: 90%;
	white-space: nowrap;
	background-color: $gl-code-bg-color;
	border-radius: $gl-discreet-radius-size;
}