/*
	Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>
	Adapted to Hyojun.Guideline by Marcelo Carneiro <mcarneiro@fbiz.com.br>
*/

pre.gl{
	
	code {
		color: #000;
	}
	.subst,
	.tag,
	.tag .title,
	.lisp .title,
	.clojure .built_in,
	.nginx .title {
		color: #2F6F9F;
	}

	.attribute {
		color: #4F9FCF;
	}

	.string,
	.title,
	.constant,
	.parent,
	.tag .value,
	.rules .value,
	.rules .value .number,
	.preprocessor,
	.ruby .symbol,
	.ruby .symbol .string,
	.aggregate,
	.template_tag,
	.django .variable,
	.smalltalk .class,
	.addition,
	.flow,
	.stream,
	.bash .variable,
	.apache .tag,
	.apache .cbracket,
	.tex .command,
	.tex .special,
	.erlang_repl .function_or_atom,
	.markdown .header {
		color: #D44950;
	}
	.comment,
	.annotation,
	.template_comment,
	.diff .header,
	.chunk,
	.markdown .blockquote {
		color: #888;
	}

	.number,
	.date,
	.regexp,
	.literal,
	.smalltalk .symbol,
	.smalltalk .char,
	.go .constant,
	.change,
	.markdown .bullet,
	.markdown .link_url {
		color: #080;
	}

	.label,
	.javadoc,
	.ruby .string,
	.decorator,
	.filter .argument,
	.localvars,
	.array,
	.attr_selector,
	.important,
	.pseudo,
	.pi,
	.doctype,
	.deletion,
	.envvar,
	.shebang,
	.apache .sqbracket,
	.nginx .built_in,
	.tex .formula,
	.erlang_repl .reserved,
	.prompt,
	.markdown .link_label,
	.vhdl .attribute,
	.clojure .attribute,
	.coffeescript .property {
		color: #88F
	}

	.keyword,
	.id,
	.phpdoc,
	.title,
	.built_in,
	.aggregate,
	.css .tag,
	.javadoctag,
	.phpdoc,
	.yardoctag,
	.smalltalk .class,
	.winutils,
	.bash .variable,
	.apache .tag,
	.go .typename,
	.tex .command,
	.markdown .strong,
	.request,
	.status {
		font-weight: bold;
	}

	.markdown .emphasis {
		font-style: italic;
	}

	.nginx .built_in {
		font-weight: normal;
	}

	.coffeescript .javascript,
	.javascript .xml,
	.tex .formula,
	.xml .javascript,
	.xml .vbscript,
	.xml .css,
	.xml .cdata {
		opacity: 0.5;
	}
}