/////////////////
// BASE TITLES //
/////////////////
h1.gl,
h2.gl, h2.gl-header,
h3.gl,
h4.gl,
h5.gl,
h6.gl {
	@extend %gl-base-text;
	text-align: left;
	font-weight: $gl-medium-font-weight;
	color: inherit;
}
// h1.gl, h2.gl, h3.gl { line-height: 1em; }

h2.gl, h2.gl-header {
	font-size: gl-to-em($gl-title-font-size, $gl-base-font-size);
	margin-top: gl-to-em($gl-double-space-size, $gl-title-font-size);
	margin-bottom: gl-to-em($gl-base-space-size, $gl-title-font-size);
}
h3.gl {
	font-size: gl-to-em($gl-sub-title-font-size, $gl-base-font-size);
	margin-top: gl-to-em($gl-separator-space-size, $gl-sub-title-font-size);
	margin-bottom: gl-to-em($gl-base-space-size, $gl-sub-title-font-size);
}
h4.gl {
	font-size: gl-to-em($gl-item-title-font-size, $gl-base-font-size);
	margin-top: gl-to-em($gl-separator-space-size, $gl-item-title-font-size);
	margin-bottom: gl-to-em($gl-base-space-size, $gl-item-title-font-size);
}
h5.gl {
	font-size: gl-to-em($gl-lead-font-size, $gl-base-font-size);
	margin-top: gl-to-em($gl-separator-space-size, $gl-lead-font-size);
	margin-bottom: gl-to-em($gl-base-space-size, $gl-lead-font-size);
}
h6.gl {
	font-size: gl-to-em($gl-discreet-title-font-size, $gl-base-font-size);
	margin-top: gl-to-em($gl-separator-space-size, $gl-discreet-title-font-size);
	margin-bottom: gl-to-em($gl-base-space-size, $gl-discreet-title-font-size);
}

/////////////////
// SITE HEADER //
/////////////////
header.gl {
	@extend %gl-base-text;
	text-align: left;
	padding: 60px 0;
	color: gl-hsl-diff($gl-theme-neutral-color, 0, 100, 80); //#fff
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
	background: $gl-header-bg-color-to;
	@include linear-gradient(45deg, $gl-header-bg-color-from, $gl-header-bg-color-to, $fallback: $gl-header-bg-color-to);

	h1.gl {
		font-size: gl-to-em($gl-header-title-font-size, $gl-base-font-size);
		margin: 0 0 gl-to-em($gl-base-space-size, $gl-header-title-font-size);
	}
	p.gl {
		color: #fff;
		font-weight: $gl-light-font-weight;
		font-size: gl-to-em($gl-header-description-font-size, $gl-base-font-size);
		line-height: $gl-base-space-size + $gl-lead-font-size;
		text-shadow: rgba(0, 0, 0, 0.25) 0px 1px 0px;
		opacity: 0.5;
		margin: 0;
	}
}

// Section title
h2.gl-header {
	@extend %gl-base-text;
	padding-bottom: gl-to-em($gl-double-space-size, $gl-title-font-size);
	padding-top: gl-to-em($gl-highlight-space-size - $gl-double-space-size, $gl-title-font-size);
	margin: gl-to-em($gl-double-space-size, $gl-title-font-size) 0;
	border-bottom: 1px solid #eeeeee;
}

// permalink style (used on titles);
.gl-link {
	margin-left: $gl-half-space-size;
	text-decoration: none;
	font-size: 0.5em;
	vertical-align: 0.25em;
	color: $gl-title-anchor-text-color;
	font-weight: normal;
	font-style: italic;
	&:hover {
		color: $gl-title-anchor-text-color-hover;
	}
	&:before {
		content: "[";
	}
	&:after {
		content: "]";
	}
}