pre.gl,
pre.gl code {
	@extend %gl-base-monospaced-text;
}
pre.gl {
	display: block;
	position: relative;
	padding: $gl-double-space-size;
	margin: 0 0 $gl-base-space-size;
	font-size: gl-to-em($gl-base-pre-font-size, $gl-base-font-size);
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
	background-color: $gl-pre-bg-color;
	border: 1px solid $gl-pre-border-color;
	border-radius: $gl-base-radius-size;
	@include box-sizing(border-box);

	code {
		padding: 0;
		color: inherit;
		white-space: pre-wrap;
		background-color: transparent;
		border: 0;
	}
}