.gl-color-palette-form {
	overflow: hidden;
	padding-left: $gl-double-space-size;
	padding-right: $gl-double-space-size;
	fieldset {
		margin-bottom: $gl-base-space-size;
	}
}
.gl-color-stamp-wrapper {
	overflow: hidden;
}
.gl-color-stamp {
	@extend %gl-base-text;
	font-weight: $gl-medium-font-weight;
	font-size: $gl-discreet-font-size;
	line-height: 1.5em;
	float: left;
	width: 25%;
	overflow: hidden;
	min-height: 7em;
	color: $gl-palette-text-color;
	text-shadow: 1px 1px 4px $gl-palette-text-shadow-color;
	padding: $gl-base-space-size;
	@include box-sizing(border-box);
}
