.gl-example {
	position: relative;
	margin: $gl-double-space-size 0;
	padding: ($gl-separator-space-size + $gl-half-space-size) $gl-double-space-size $gl-double-space-size;
	background-color: $gl-example-bg-color;
	border: 1px solid $gl-example-border-color;
	border-radius: $gl-base-radius-size;
	@include box-sizing(border-box);

	/* Echo out a label for the example */
	&:after {
		@extend %gl-base-text;
		content: "Example";
		position: absolute;
		top: gl-to-em($gl-base-space-size + $gl-half-space-size, $gl-example-label-font-size);
		left: gl-to-em($gl-double-space-size, $gl-example-label-font-size);
		font-size: gl-to-em($gl-example-label-font-size, $gl-base-font-size);
		font-weight: $gl-bold-font-weight;
		color: $gl-example-text-color;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	&.gl-checkers:after {
		color: $gl-example-inverted-text-color;
	}

	.gl-checkers-wrapper & {
		@extend .gl-checkers;
	}
}
.gl-example-full {
	@extend .gl-example;
	padding-left: 0;
	padding-right: 0;
}

// checkers (used to indicate transparency for dark and light elements)
.gl-checkers {
	background-color: $gl-checkers-back-bg-color;
	background-image: unquote("-webkit-linear-gradient(45deg, #{$gl-checkers-front-bg-color} 25%, transparent 25%, transparent 75%, #{$gl-checkers-front-bg-color} 75%, #{$gl-checkers-front-bg-color})"),
					  unquote("-webkit-linear-gradient(45deg, #{$gl-checkers-front-bg-color} 25%, transparent 25%, transparent 75%, #{$gl-checkers-front-bg-color} 75%, #{$gl-checkers-front-bg-color})");
	background-size: $gl-checkers-size $gl-checkers-size;
	background-position:0 0, #{$gl-checkers-size * 0.5} #{$gl-checkers-size * 0.5}
}
.gl-checkers-dark {
	background-color: $gl-checkers-inverted-bg-color;
	background-image: unquote("-webkit-linear-gradient(45deg, #{invert($gl-checkers-front-bg-color)} 25%, transparent 25%, transparent 75%, #{invert($gl-checkers-front-bg-color)} 75%, #{invert($gl-checkers-front-bg-color)})"),
					  unquote("-webkit-linear-gradient(45deg, #{invert($gl-checkers-front-bg-color)} 25%, transparent 25%, transparent 75%, #{invert($gl-checkers-front-bg-color)} 75%, #{invert($gl-checkers-front-bg-color)})");
	background-size: $gl-checkers-size $gl-checkers-size;
	background-position:0 0, #{$gl-checkers-size * 0.5} #{$gl-checkers-size * 0.5}
}