fieldset.gl {
	@extend %gl-base-text;
	border: none;
	padding: 0;
	margin: 0;
	+ fieldset.gl {
		margin-top: $gl-base-space-size;
	}
}
fieldset.gl-inline {
	@extend fieldset.gl;

	> label.gl {
		margin: 0 $gl-base-space-size 0 0;
	}

	> label.gl,
	button.gl,
	input.gl,
	select.gl,
	textarea.gl,
	.gl-wrap,
	.gl-checkbox,
	.gl-checkbox-inline,
	.gl-radio {
		display: inline-block;
		vertical-align: middle;
	}
	button.gl {
		vertical-align: gl-to-em(-1px, $gl-base-font-size);
	}
}