input.gl {
	@extend %gl-base-text;
	display: inline-block;
	margin: 0;
	height: gl-to-em(21px + 2px + $gl-base-space-size, $gl-base-input-font-size);
	padding: gl-to-em($gl-half-space-size, $gl-base-input-font-size);
	font-size: gl-to-em($gl-base-input-font-size, $gl-base-font-size);
	font-weight: $gl-regular-font-weight;
	line-height: 1.5;
	color: $gl-base-input-text-color;
	vertical-align: middle;
	background-color: $gl-input-bg-color;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid $gl-input-border-color;
	border-radius: $gl-base-radius-size;
	box-shadow: inset 0 1px 1px $gl-input-box-shadow-color;
	@include box-sizing(border-box);
	@include transition(background-color ease-in-out 0.15s, border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s);

	// Placeholder
	//
	// Placeholder text gets special styles because when browsers invalidate entire
	// lines if it doesn't understand a selector/
	@include placeholder {
		color: $gl-base-input-placeholder-text-color;
	}

	&:focus {
		box-shadow: none;
		background-color: $gl-input-focus-bg-color;
		outline: none;
	}

	// Disabled and read-only inputs
	// Note: HTML5 says that controls under a fieldset > legend:first-child won't
	// be disabled if the fieldset is disabled. Due to implementation difficulty,
	// we don't honor that edge case; we style them as disabled anyway.
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		cursor: not-allowed;
		background-color: $gl-input-disabled-bg-color;
	}
}

textarea.gl {
	@extend input.gl;
	height: auto;
	width: 100%;
	display: block;
}
