@mixin gl-gridsystem-example ($grid: "gl-wide") {
	$column-num: gs-value($grid, $gs-column-num);
	$grid-color: hsl(hue($gl-theme-main-color), saturation($gl-theme-main-color) * 0.5, 20%);
	$grid-width: gs-value($grid, $gs-site-width);

	.gl-#{$grid}-grid {
		.gl-row {
			@extend %gl-row;
			@if unit($grid-width) == "%" {
				margin-left: 0;
			} @else {
				@include gs-row(auto, $grid);
			}
			.gl-content {
				// distribute gutter to both sides in case it's fluid 
				@if unit($grid-width) == "%" {
					margin-left: gs-gutter(0.5, $grid);
					margin-right: gs-gutter(0.5, $grid);
				} @else {
					margin-left: gs-gutter(1, $grid);
				}
			}
			@for $i from 1 through $column-num {
				.gl-col#{$i} {
					@extend %gl-col;
					@if unit($grid-width) == "%" {
						width: gs-column($i, $grid);
					} @else {
						width: gs-column($i, $grid, gs-gutter(1, $grid));
					}
					.gl-content {
						background: gl-hsl-diff($grid-color, 0, 0, $i / $column-num * 70);
						&:before {
							content: "#{$i}: #{gs-column($i, $grid)}";
						}
					}
				}
			}

		}
	}
}
