html.gl{
	font-size: $gl-root-font-size;

	&, body {
		margin: 0;
		padding: 0;
		background: $gl-group-white;
	}
	&.nav-opened body {
		overflow: hidden;
	}
}

// lay out structure
.gl-wrapper{
	position: relative;
	z-index: $gl-content-z-index;
	background: $gl-content-bg;
}
.gl-content{
	margin: 0 auto;
	max-width: gs-column(all, gl-wide);
	padding: $gl-double-space-size 0;
	&:after {
		clear: both;
		content: "";
		display: block;
	}
	@include gs-media-query (gl-normal) {
		max-width: gs-column(all, gl-normal, gs-gutter(2));
	}
}

// paragraph after pre
pre.gl + p.gl {
	margin-top: $gl-double-space-size;
}
// paragraph before pre
p.gl + pre.gl {
	margin-top: $gl-double-space-size;
}

// callout after pre
pre.gl + .gl-callout {
	margin-top: 0;
}
.gl-example + .gl-callout {
	margin-top: -$gl-base-space-size;
}

// code example after visual example
.gl-example + pre.gl {
	margin-top: -($gl-double-space-size + $gl-half-space-size);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

// lists inside callouts
.gl-callout {
	ul, ol {
		margin-bottom: 0;
		&:first-child {
			margin-top: 0;
		}
	}
}

// paragraphs after lists
ol.gl, ul.gl {
	+ p.gl {
		margin-top: $gl-double-space-size;
	}
}