@Guideline.GridSystem(new {
	name = "Main 'wide' grid",
	description = "Main project's default gridsystem with 14 columns registered as <code class=\"gl\">gl-wide</code>. It'll projected to be used over <code class=\"gl\">1305px</code> wide.",
	grid = new {
		name = "gl-wide",
		data = new int[][] {
			new int[] {1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1},
			new int[] {2, 2, 2, 2, 2, 2, 2},
			new int[] {3, 3, 3, 3, 2},
			new int[] {4, 4, 4, 2},
			new int[] {5, 5, 4},
			new int[] {6, 6, 2},
			new int[] {7, 7},
			new int[] {8, 6},
			new int[] {9, 5},
			new int[] {10, 4},
			new int[] {11, 3},
			new int[] {12, 2},
			new int[] {13, 1},
			new int[] {14}
		}
	}
})
@Guideline.GridSystem(new {
	name = "Main 'normal' grid",
	description = "Main project's \"normal\" gridsystem with 10 columns registered as <code class=\"gl\">gl-normal</code>. It'll projected to be used under <code class=\"gl\">1306px</code> wide and over <code class=\"gl\">929px</code>.",
	grid = new {
		name = "gl-normal",
		data = new int[][] {
			new int[] {1, 1, 1, 1, 1, 1, 1, 1, 1, 1},
			new int[] {2, 2, 2, 2, 2},
			new int[] {3, 3, 3, 1},
			new int[] {4, 4, 2},
			new int[] {5, 5},
			new int[] {6, 4},
			new int[] {7, 3},
			new int[] {8, 2},
			new int[] {9, 1},
			new int[] {10}
		}
	}
})
@Guideline.GridSystem(new {
	name = "Main 'Mobile' grid",
	description = "Main project's \"mobile\" gridsystem with 4 columns registered as <code class=\"gl\">gl-mobile</code>. It'll projected to be used under <code class=\"gl\">930px</code>.",
	grid = new {
		name = "gl-mobile",
		data = new int[][] {
			new int[] {1, 1, 1, 1},
			new int[] {2, 2},
			new int[] {3, 1},
			new int[] {4}
		}
	}
})