.gl-color-palette-form {
	padding-left: $gl-base-space-size;
	padding-right: $gl-base-space-size;
	.gl-color-stamp-wrapper {
		margin-left: -$gl-base-space-size;
		margin-right: -$gl-base-space-size;
	}

}
.gl-color-stamp {
	width: 50%;
	min-height: gl-to-em(160px, $gl-discreet-font-size);
}
