%gl-base-text {
	font-family: $gl-main-font-family;
	color: $gl-base-dark-text-color;
	text-rendering: optimizelegibility;
}
%gl-base-monospaced-text {
	font-family: $gl-monospaced-font-family;
	color: $gl-code-text-color;
	text-rendering: optimizelegibility;
}
%gl-base-note {
	padding: gl-to-em($gl-half-space-size, $gl-discreet-font-size);
	text-align: center;
	font-size: gl-to-em($gl-discreet-font-size, $gl-base-font-size);
	background: $gl-code-note-bg-color;
	font-weight: $gl-bold-font-weight;
	line-height: 0.9em;
	color: $gl-code-note-text-color;
	border-radius: gl-to-em($gl-base-radius-size, $gl-discreet-font-size);
}