.gl-nav .gl-content {
	max-width: gs-column(all, gl-wide, gs-gutter(2));
	@include gs-media-query (gl-normal) {
		max-width: gs-column(all, gl-normal, gs-gutter(2));
	}
}
.gl-content {
	padding-left: $gl-base-space-size;
	padding-right: $gl-base-space-size;
}

// navigation and header spacements
.gl-nav + .gl-wrapper {
	padding-top: $gl-base-space-size + $gl-double-space-size;
}

// code example after visual example
.gl-example-full,
.gl-example-full + .gl-callout,
.gl-example-full + pre.gl,
.gl-example-full + pre.gl + .gl-callout {
	margin-left: -1px;
	margin-right: -1px;
}