﻿{{#include}}
	{{{partials}}}/gl-content-head.mustache
{{/include}}

<!--
	// Base elements //
-->
<h2 id="Base-elements" class="gl-header">Elementos base</h2>


<!--
	// Inputs //
-->
<h3 id="Inputs" class="gl">Inputs</h3>
<p class="gl">
	Todos os inputs da guideline devem conter a classe <code class="gl">gl</code>.
</p>
<div class="gl-example">
	<input class="gl" type="text" value="" placeholder="This is an input!">
</div>
<pre class="gl"><code>&lt;input class=&quot;gl&quot; type=&quot;text&quot; value=&quot;&quot; placeholder=&quot;This is an input!&quot;&gt;</code></pre>


<!--
	// Textarea //
-->
<h3 id="Textarea" class="gl">Textarea</h3>
<p class="gl">
	Todos os textarea da guideline devem conter a classe <code class="gl">gl</code>.
</p>
<div class="gl-example">
	<textarea class="gl" rows="3" placeholder="This is a textarea!"></textarea>
</div>
<pre class="gl"><code>&lt;textarea class=&quot;gl&quot; rows=&quot;3&quot; placeholder=&quot;This is a textarea!&quot;&gt;&lt;/textarea&gt;</code></pre>


<!--
	// Select //
-->
<h3 id="Select" class="gl">Select</h3>
<p class="gl">
	Todos os selects da guideline devem conter a classe <code class="gl">gl</code>.
</p>
<div class="gl-example">
	<select class="gl">
		<option value="1">This is a select!</option>
	</select>
</div>
<pre class="gl"><code>&lt;select class=&quot;gl&quot;&gt;
  &lt;option value=&quot;1&quot;&gt;This is a select!&lt;/option&gt;
&lt;/select&gt;</code></pre>


<!--
	// Checkboxes and radios //
-->
<h3 id="Checkboxes-and-radios" class="gl">Checkboxes and radios</h3>
<p class="gl">
	Todos os checkboxes e radios contém um wrapper que deve receber a classe <code class="gl">gl-checkbox</code> ou <code class="gl">gl-radio</code>.
</p>
<div class="gl-example">
	<div class="gl-checkbox">
		<label>
			<input type="checkbox">
			orem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing.
		</label>
	</div>
	<div class="gl-checkbox">
		<label>
			<input type="checkbox">
			orem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing.
		</label>
	</div>
	<br><br>
	<div class="gl-radio">
		<label>
			<input type="radio">
			orem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing.
		</label>
	</div>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-checkbox&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;checkbox&quot;&gt;
    Lorem ipsum dolor sit...
  &lt;/label&gt;
&lt;/div&gt;
...

&lt;div class=&quot;gl-radio&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;radio&quot;&gt;
    Lorem ipsum dolor sit...
  &lt;/label&gt;
&lt;/div&gt;</code></pre>


<!--
	// Inline checkboxes //
-->
<h4 id="Inline-checkboxes" class="gl">Checkboxes / radios lado-a-lado</h4>
<p class="gl">
	Aplique a classe <code class="gl">gl-checkbox-inline</code> or <code class="gl">gl-radio-inline</code>.
</p>
<div class="gl-example">
	<label class="gl-checkbox-inline">
		<input type="checkbox">
		orem ipsum
	</label>
	<label class="gl-checkbox-inline">
		<input type="checkbox">
		olor sit
	</label>
	<br><br>
	<label class="gl-radio-inline">
		<input type="radio">
		amet consectetur
	</label>
</div>
<pre class="gl"><code>&lt;label class="gl-checkbox-inline"&gt;
  &lt;input type=&quot;checkbox&quot;&gt;
  lorem ipsum
&lt;/label&gt;
...

&lt;label class="gl-radio-inline"&gt;
  &lt;input type=&quot;radio&quot;&gt;
  amet consectetur
&lt;/label&gt;</code></pre>


<!--
	// Buttons //
-->
<h3 id="Buttons" class="gl">Buttons</h3>
<p class="gl">
	Botões usados nos forms.
</p>
<div class="gl-example">
	<button type="submit" class="gl">Default</button>
	<button type="submit" class="gl-primary">Primary</button>
	<button type="submit" class="gl-success">Success</button>
	<button type="submit" class="gl-danger">Danger</button>
</div>
<pre class="gl"><code>&lt;button type=&quot;submit&quot; class=&quot;gl&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;submit&quot; class=&quot;gl-primary&quot;&gt;Primary&lt;/button&gt;
&lt;button type=&quot;submit&quot; class=&quot;gl-success&quot;&gt;Success&lt;/button&gt;
&lt;button type=&quot;submit&quot; class=&quot;gl-danger&quot;&gt;Danger&lt;/button&gt;</code></pre>



<!--
	// Components //
-->
<h2 id="Components" class="gl-header">Componentes</h2>


<!--
	// Field wrappers //
-->
<h3 id="Field-wrappers" class="gl">Wrappers de campos</h3>

<p class="gl">
	Para elementos de formulário que precisam ser fluídos, utilize a classe <code class="gl">gl-wrap</code> em um wrapper. Isso fará com que o elemento tenha um <code class="gl">display:block</code> e 100% de largura, respeitanto o espaço de qualquer elemento com <code class="gl">float</code> inserido antes dele.
</p>
<div class="gl-example">
	<div class="gl-float-example-wrapper">
		<div class="gl-float-example">
			floated element
		</div>
		<div class="gl-wrap">
			<input class="gl" type="text" value="" placeholder="This is an input!">
		</div>
		<div class="gl-wrap">
			<textarea class="gl" rows="3" placeholder="This is a textarea!"></textarea>
		</div>
		<div class="gl-wrap">
			<select class="gl">
				<option value="1">This is a select!</option>
			</select>
		</div>
	</div>
</div>
<pre class="gl"><code class="xml">&lt;div class=&quot;gl-float-example-wrapper&quot;&gt;
  &lt;div class=&quot;gl-float-example&quot;&gt;
    floated element
  &lt;/div&gt;
  &lt;div class=&quot;gl-wrap&quot;&gt;
    ... (<a href="#Inputs">input</a>)
  &lt;/div&gt;
  &lt;div class=&quot;gl-wrap&quot;&gt;
    ... (<a href="#Textarea">textarea</a>)
  &lt;/div&gt;
  &lt;div class=&quot;gl-wrap&quot;&gt;
    ... (<a href="#Selects">select</a>)
  &lt;/div&gt;
&lt;/div&gt;</code></pre>


<!--
	// Labels and fieldsets components //
-->
<h3 id="Labels-and-fieldsets-components" class="gl">Componentes com labels and fieldsets</h3>
<p class="gl">
	O componente padrão para criar um formulário simples é a combinação de um <code class="gl">fieldset.gl</code> como wrapper. <code class="gl">fieldset.gl-inline</code> pode ser usado para forçar um formulário inline. Todos os <code class="gl">labels</code> precisam ter a classe <code class="gl">.gl</code>.
</p>
<div class="gl-example">
	<fieldset class="gl">
		<label class="gl">
			Label for this field:
		</label>
		<div class="gl-wrap">
			<input class="gl" type="text" />
		</div>
	</fieldset>
	<fieldset class="gl">
		<label class="gl">
			Label for this field:
		</label>
		<div class="gl-checkbox">
			<label>
				<input type="checkbox">
				orem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing.
			</label>
		</div>
		<div class="gl-checkbox">
			<label>
				<input type="checkbox">
				orem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing.
			</label>
		</div>
	</fieldset>
	<fieldset class="gl-inline">
		<label class="gl">
			Label:
		</label>
		<label class="gl-checkbox-inline">
			<input type="checkbox">
			orem ipsum.
		</label>
		<label class="gl-checkbox-inline">
			<input type="checkbox">
			dolor sit amet.
		</label>
		<button name="check" class="gl">check!</button>
	</fieldset>
	<fieldset class="gl">
		<button class="gl-success">update</button>
	</fieldset>
</div>
<pre class="gl"><code class="xml">&lt;fieldset class=&quot;gl&quot;&gt;
  &lt;label class=&quot;gl&quot;&gt;
    Label for this field:
  &lt;/label&gt;
  ... (<a href="#Field-wrappers">field wrappers</a>)
&lt;/fieldset&gt;
&lt;fieldset class=&quot;gl&quot;&gt;
  &lt;label class=&quot;gl&quot;&gt;
    Label for this field:
  &lt;/label&gt;
  ... (<a href="#Checkboxes-and-radios">checkbox</a>)
&lt;/fieldset&gt;
&lt;fieldset class=&quot;gl-inline&quot;&gt;
  &lt;label class=&quot;gl&quot;&gt;
    Label:
  &lt;/label&gt;
  ... (<a href="#Inline-checkboxes">inline checkbox</a>)
  ... (<a href="#Buttons">buttons</a>)
&lt;/fieldset&gt;
&lt;fieldset class=&quot;gl&quot;&gt;
  ... (<a href="#Buttons">buttons</a>)
&lt;/fieldset&gt;</code></pre>