﻿{{#include}}
	{{{partials}}}/gl-content-head.mustache
{{/include}}

<h2 class="gl-header">
	What is this document?
</h2>
<p class="gl">
	The stylesheet guideline contains all HTML / CSS rules and structure used on the project. It can be used as a design reference of all project elements and modules as a document to understand how the elements are constructed and organized.
</p>
<h3 class="gl">
	How's it organized
</h3>
<p class="gl">
	The document are divided in 2 parts: The Core rules and the Section specifics where:
</p>
<div class="gl-page-header">
	<h2 class="gl">
		Core rules
	</h2>
</div>
<p class="gl">
	All global rules and elements that can be used anywhere on the project. Things like typography, gridsystem, forms, buttons, icons and the base modules.
</p>

{{#include}}
	{{{partials}}}/gl-nav-main.mustache
{{/include}}


<div class="gl-page-header">
	<h2 class="gl">
		Sections specifics
	</h2>
</div>
<p class="gl">
	All componentes that are specific for one section (or sections with variations). Things like banners, product page cartridges, search page navigation list, etc.
</p>

{{#include}}
	{{{partials}}}/gl-nav-section.mustache
{{/include}}

