﻿{{#include}}
	{{{partials}}}/gl-content-head.mustache
{{/include}}

<!--
	// Tabela de caracteres //
-->
<h2 id="Tabela-de-caracteres" class="gl-header">Tabela de caracteres</h2>
<p class="gl">
	Famílias tipográficas usadas no projetos. Note que algumas letras podem não estar disponíveis, normalmente para salvar alguns KB do arquivo final.
</p>


{{#data.char_table}}
	{{#include}}
		{{{partials}}}/gl-chartable.mustache
	{{/include}}
{{/data.char_table}}



<!--
	// Lista de tamanhos //
-->
<h2 id="Lista-de-tamanhos" class="gl-header">Lista de tamanhos</h2>
<p class="gl">
	Todos os <code class="gl">font-size</code> devem usar as variáveis definidas em <code class="gl">_units.scss</code>. Veja que o <code class="gl">$gl-base-font-size</code> é usado apenas como referência para cálculos de medidas. É aconselhável que a aplicação das medidas no projeto seja feita proporcional, ex.: em <code class="gl">em</code> ou <code class="gl">rem</code>.
</p>
<div class="gl-example">
	{{#data.font-sizes}}
		{{#include}}
			{{{partials}}}/gl-font-size.mustache
		{{/include}}
	{{/data.font-sizes}}
</div>



<!--
	// Lista de pesos //
-->
<h2 id="Lista-de-pesos" class="gl-header">Lista de pesos</h2>
<p class="gl">
	Todos os pesos (<code class="gl">font-weight</code>) de fontes devem usar estas variáveis para garantir uniformidade nos valores.
</p>
<div class="gl-example">
	{{#data.font-weights}}
		{{#include}}
			{{{partials}}}/gl-font-weight.mustache
		{{/include}}
	{{/data.font-weights}}
</div>



<!--
	// Títulos //
-->
<h2 id="Titulos" class="gl-header">Títulos</h2>
<p class="gl">
	Lista de títulos usados no projeto.
</p>

<div class="gl-example">
	<h2 class="gl">H2 Title</h2>
	<h3 class="gl">H3 Title</h3>
	<h4 class="gl">H4 Title</h4>
	<h5 class="gl">H5 Title</h5>
</div>
<pre class="gl"><code>&lt;h2 class=&quot;gl&quot;&gt;H2 Title&lt;/h2&gt;
&lt;h3 class=&quot;gl&quot;&gt;H3 Title&lt;/h3&gt;
&lt;h4 class=&quot;gl&quot;&gt;H4 Title&lt;/h4&gt;
&lt;h5 class=&quot;gl&quot;&gt;H5 Title&lt;/h5&gt;</code></pre>
<div class="gl-callout-important">
	<p>
		Note que todos os os títulos da Hyojun.Guideline devem conter a classe <code class="gl">gl</code>. Além disso, a tag H1 não deve ser usada no meio do documento, já que aparece como título da página.
	</p>
</div>


<!--
	// Header titles //
-->
<h3 id="Header-titles" class="gl">Header titles</h3>
<p class="gl">
	Para títulos de seção, a tag <code class="gl">&lt;h2&gt;</code> pode ser usada com a classe <code class="gl">gl-header</code> para criar uma separação clara.
</p>
<div class="gl-example">
	<h2 id="Example-header" class="gl-header">Example header</h2>
</div>
<pre class="gl"><code>&lt;h2 <strong class="gl-note-1">id=&quot;Example-header&quot;</strong> class=&quot;gl-header&quot;&gt;Example header&lt;/h2&gt;</code></pre>
<ol class="gl">
	<li>
		Sempre coloque o ID no título para que seja possível usar a ancora para que seja linkado a partir de outras páginas.
	</li>
</ol>



<!--
	// Textos //
-->
<h2 id="Textos" class="gl-header">Textos</h2>
<p class="gl">
	Lista de estilos usados em textos corridos ou de conteúdo.
</p>


<!--
	// Conteúdo principal //
-->
<h3 id="Conteudo-principal" class="gl">Conteúdo principal</h3>
<p class="gl">
	Estilo básico de fontes no projeto. Aplicado na tag <code class="gl">HTML</code>.
</p>
<div class="gl-example">
	<p class="gl">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing. Nulla gravida, risus ut vehicula pretium, arcu quam porttitor arcu, eget consequat tellus ipsum sed massa.
	</p>
	<p class="gl">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing. Nulla gravida, risus ut vehicula pretium, arcu quam porttitor arcu, eget consequat tellus ipsum sed massa.
	</p>
	<p class="gl">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing. Nulla gravida, risus ut vehicula pretium, arcu quam porttitor arcu, eget consequat tellus ipsum sed massa.
	</p>
</div>
<pre class="gl"><code class="xml">&lt;p class=&quot;gl&quot;&gt;
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing. Nulla gravida, risus ut vehicula pretium, arcu quam porttitor arcu, eget consequat tellus ipsum sed massa.
&lt;/p&gt;
...</code></pre>


<!--
	// Legends //
-->
<h3 id="Legends" class="gl">Legendas</h3>
<p class="gl">
	Legendas normalmente são usadas depois de exemplos para descrever algum detalhe sobre eles. Utilize a classe <code class="gl">gl-legend</code> no elemento.
</p>
<div class="gl-example">
	<p class="gl-legend">
		Lorem ipsum dolor...
	</p>
</div>
<pre class="gl"><code>&lt;p class=&quot;gl-legend&quot;&gt;
  Lorem ipsum dolor...
&lt;/p&gt;</code></pre>


<!--
	// Lead Text //
-->
<h3 id="Lead-Text" class="gl">Lead texts</h3>
<p class="gl">
	Para criar destaque para um parágrafo utilize a classe <code class="gl">gl-lead</code>.
</p>
<div class="gl-example">
	<p class="gl">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing. Nulla gravida, risus ut vehicula pretium, arcu quam porttitor arcu, eget consequat tellus ipsum sed massa.
	</p>
	<p class="gl-lead">
		Remember, it's important to use your brain.
	</p>
	<p class="gl">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing. Nulla gravida, risus ut vehicula pretium, arcu quam porttitor arcu, eget consequat tellus ipsum sed massa.
	</p>
</div>
<pre class="gl"><code>&lt;p class=&quot;gl&quot;&gt;
  Lorem ipsum dolor...
&lt;/p&gt;
&lt;p class=&quot;gl-lead&quot;&gt;
  Remember, it's important to use your brain.
&lt;/p&gt;
&lt;p class=&quot;gl&quot;&gt;
  Lorem ipsum dolor...
&lt;/p&gt;</code></pre>


<!--
	// Code //
-->
<h3 id="Code" class="gl">Code</h3>
<p class="gl">
	Todos os nomes técnicos devem estar em tags <code class="gl">&lt;code&gt;</code> com a classe <code class="gl">gl</code>.
</p>
<div class="gl-example">
	<p class="gl">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu <code class="gl">justo iaculis</code> adipiscing. Nulla gravida, risus ut vehicula pretium, arcu quam porttitor arcu, eget consequat tellus ipsum sed massa
	</p>
</div>
<pre class="gl"><code>&lt;p class=&quot;gl&quot;&gt;
  ... dui eu &lt;code class=&quot;gl&quot;&gt;justo iaculis&lt;/code&gt; adipiscing...
&lt;/p&gt;</code></pre>


<!--
	// Unordered list //
-->
<h3 id="Unordered-list" class="gl">Lista não ordenada</h3>
<p class="gl">
	Todas as listas não ordenadas devem ter a classe <code class="gl">gl</code> aplicada na tag <code class="gl">&lt;ul&gt;</code>.
</p>
<div class="gl-example">
	<ul class="gl">
		<li>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing. Nulla gravida, risus ut vehicula pretium, arcu quam porttitor arcu, eget consequat tellus ipsum sed massa.
		</li>
		<li>
			item 2
		</li>
		<li>
			item 3
		</li>
	</ul>
</div>
<pre class="gl"><code>&lt;ul class=&quot;gl&quot;&gt;
  &lt;li&gt;
    Lorem ipsum dolor sit amet...
  &lt;/li&gt;
  ...
&lt;/ul&gt;</code></pre>


<!--
	// Ordered list //
-->
<h3 id="Ordered-list" class="gl">Lista ordenada</h3>
<p class="gl">
	Listas ordenadas normalmente são usadas para indicar notas dentro de <a href="base-modules.html#Code-examples">exemplos de códigos</a>. Aplique a classe <code class="gl">gl</code> nas tags <code class="gl">&lt;ol&gt;</code>.
</p>
<div class="gl-example">
	<ol class="gl">
		<li>
			Description of the first note
		</li>
		<li>
			Long description of the second note Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing. Nulla gravida, risus ut vehicula pretium, arcu quam porttitor arcu, eget consequat tellus ipsum sed massa. Suspendisse potenti. Curabitur blandit elit ultricies enim ullamcorper laoreet.
		</li>
		<li>
			Description of the third note
		</li>
	</ol>
</div>
<pre class="gl"><code>&lt;ol class=&quot;gl&quot;&gt;
  &lt;li&gt;
    Description of the first note
  &lt;/li&gt;
  ...
&lt;/ol&gt;</code></pre>


<!--
	// Callout //
-->
<h3 id="Callout" class="gl">Callout</h3>
<p class="gl">
	Para informações importante, aplique a classe <code class="gl">gl-callout</code>. 
</p>
<p class="gl">
	Título só é necessário para mensagens com maior peso.
</p>
<div class="gl-example">
	<div class="gl-callout">
		<h3>Callout Title</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing.
		</p>
	</div>
	<div class="gl-callout">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula tempus nec ut lectus. Curabitur pulvinar dui eu justo iaculis adipiscing.
		</p>
	</div>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-callout&quot;&gt;
  &lt;h3&gt;Callout Title&lt;/h3&gt;
  &lt;p&gt;
    Lorem ipsum dolor...
  &lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;gl-callout&quot;&gt;
  &lt;p&gt;
    Lorem ipsum dolor...
  &lt;/p&gt;
&lt;/div&gt;</code></pre>

<p class="gl">
	Existem 3 tipos de callouts: <code class="gl">gl-callout-important</code>, <code class="gl">gl-callout-warning</code> and <code class="gl">gl-callout-danger</code>.
</p>
<div class="gl-example">
	<div class="gl-callout-important">
		<h3>Important notice</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			<code class="gl">tempor</code> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in <code class="gl">reprehenderit</code> in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="gl-callout-warning">
		<h3>Warning</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			<code class="gl">tempor</code> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in <code class="gl">reprehenderit</code> in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="gl-callout-danger">
		<h3>Danger</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			<code class="gl">tempor</code> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in <code class="gl">reprehenderit</code> in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-callout-important&quot;&gt;
  &lt;h3&gt;Important notice&lt;/h3&gt;
  &lt;p&gt;
    Lorem ipsum dolor...
  &lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;gl-callout-warning&quot;&gt;
  ...
&lt;/div&gt;
&lt;div class=&quot;gl-callout-danger&quot;&gt;
  ...
&lt;/div&gt;</code></pre>

<p class="gl">
	Listas <a href="#Ordered-list">ordenadas</a> and <a href="#Unordered-list">não ordenadas</a> podem ser usadas dentro de callouts.
</p>
<div class="gl-example">
	<div class="gl-callout">
		<h3>Important notice</h3>
		<ul class="gl">
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula 
			</li>
			<li>
				Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
			</li>
		</ul>
	</div>
	<div class="gl-callout">
		<ul class="gl">
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula 
			</li>
			<li>
				Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
			</li>
		</ul>
	</div>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-callout&quot;&gt;
  &lt;h3&gt;Important notice&lt;/h3&gt;
  ... (<a href="#Unordered-list">lista não ordenada</a>)
&lt;/div&gt;
&lt;div class=&quot;gl-callout&quot;&gt;
  ... (<a href="#Unordered-list">lista não ordenada</a>)
&lt;/div&gt;</code></pre>
<div class="gl-example">
	<div class="gl-callout">
		<h3>Important notice</h3>
		<ol class="gl">
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula 
			</li>
			<li>
				Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
			</li>
		</ol>
	</div>
	<div class="gl-callout">
		<ol class="gl">
			<li>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien eu augue vehicula 
			</li>
			<li>
				Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
			</li>
		</ol>
	</div>
</div>
<pre class="gl"><code>&lt;div class=&quot;gl-callout&quot;&gt;
  &lt;h3&gt;Important notice&lt;/h3&gt;
  ... (<a href="#Ordered-list">lista ordenada</a>)
&lt;/div&gt;
&lt;div class=&quot;gl-callout&quot;&gt;
  ... (<a href="#Ordered-list">lista ordenada</a>)
&lt;/div&gt;</code></pre>