.gl-color-generator-form {
	padding-left: $gl-base-space-size;
	padding-right: $gl-base-space-size;
	.gl-color-stamp-wrapper {
		margin-left: -$gl-base-space-size;
		margin-right: -$gl-base-space-size;
	}
	.gl-color-stamp {
		width: 50%;

		&:after {
			left: $gl-base-space-size;
		}

		&.gl-color-closest {
			min-height: gl-to-em(100px, $gl-base-font-size);
			padding-bottom: 1.5em;
			width: auto;
			float: none;
			clear: both;
			background: none;
			&:after {
				top: auto;
				bottom: 0;
			}
			.gl-color-stamp {
				padding-left: $gl-base-space-size;
			}
		}
	}
	input.gl,
	button.gl,
	select.gl {
		display: block;
		margin: $gl-half-space-size 0;
		width: 100%;
	}
}